.App {
  text-align: center;
}

.phone-name {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: purple;
}

blockquote {
  background: #f8f8ff;
  border-left: 10px solid #aaaa;
  margin-top: 20px;
  padding: 0.5em 10px;
  text-align: start;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 225px 15px;
  border-top-right-radius: 15px 255px;
}

span {
  font-weight: bold;
  color: peru;
}

.manufacturer {
  color: black;
}